@import url("normalize.css");

header,
footer {
    margin: 2.5%;
}
footer {
    float: left;
}

.reservation {
    border: 2px solid darkolivegreen;
    margin: 10px 2.5%;
    padding: 5px;
    width: 800px;
}
.reservation .about {
    margin-bottom: 10px;
}
.reservation .about .name {
    width: 250px;
}
.reservation .about .description {
    width: 200px;
}
.reservation .items .id {
    width: 40px;
}
.reservation .items .name {
    width: 209px;
}
.reservation .items .description {
    width: 480px;
}
