@import url("normalize.css");
@import url("header.css");
@import url("main.css");
@import url("login.css");
@import url("reservations.css");

/* http://www.colorcombos.com/color-scheme-420.html */
/* http://www.colorcombos.com/color-scheme-430.html */

@font-face {
    font-family: "fertigo_pro";
    src: url("../media/fertigo_pro.woff2") format("woff2"),
        url("../media/fertigo_pro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*[disabled] { /*FIXME remove this when not needed anymore*/
    opacity: .2;
}

body {
    font-family: "fertigo_pro", serif;
    max-width: 1200px;
}

nav ul {
    list-style: none;
}

.log {
    font-size: 300%;
    margin: 10px;
}

.error {
    color: #DD1E2F;
}

.info {
    color: #509651;
}

.login {
    float: right;
}
