@import url("normalize.css");
@import url("icons.css");
@import url("header.css");
@import url("main.css");
@import url("login.css");
@import url("reservations.css");
@import url("form.css");

@font-face {
    font-family: "fertigo_pro";
    src: url("../_media/fertigo_pro.woff2") format("woff2"),
        url("../_media/fertigo_pro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "icomoon";
    src: url("../_media/icomoon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*[disabled] { /*FIXME remove this when not needed anymore*/
    opacity: .2;
}

body {
    font-family: "Ubuntu", sans-serif;
    max-width: 1200px;
}
#header {
    position: fixed;
    width: 1200px;
    z-index: 1;
}
main {
    position: relative;
    top: 108px;
}

h1, h2 {
    font-family: "fertigo_pro", serif;
}

nav ul {
    list-style: none;
}

.log {
    font-size: 300%;
    margin-left: 10px;
    position: relative;
    top: 108px;
}

.error {
    color: #DD1E2F;
}

.info {
    color: #509651;
}

.login {
    float: right;
    margin-top: 108px;
}

.dev-message {
    color: #DD1E2F;
    font-size: 600%;
    opacity: .2;
    position: fixed;
    bottom: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}